#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background: rgb(209,247,255);
  background: radial-gradient(circle, rgba(209,247,255,0.2) 0%, rgba(138,138,208,0.5) 61%, rgba(41,35,142,0.7) 100%);
  overflow: hidden;
}

h1 {
  color: #272638;
  width: auto;
}

.people {
  flex-direction: row;
}

.person {
  margin-right: 10px !important; 
  margin-top: 1rem !important;
}

.presentInput {
  justify-content: space-evenly;
  width: auto;
  text-align: left;
  display: flex;
}

#addButton {
  /* position: absolute; */
  margin: 20px;
}

#back {
  position: absolute;
  bottom: 10%;
  left: 10%;

}

#forward {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.score {
  font-size: 25pt;
  font-weight: bold;
}

.tableTop {
  background-color: rgba(41,35,142,0.1);
}

.tableSecond {
  background-color: rgba(41,35,142,0.05);
}

.tableElement {
  background-color: rgba(213, 199, 132, 0.075)
}

td, th {
  padding: 20px !important;
}

.MuiTableContainer-root {
  width: auto !important;
}

.scrollable {
  overflow: scroll;
}

.presentInputs {
  display: flex;
  flex-direction: column;
}

.presentInput {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.presentInput > input, h4 {
  width: 100%;
  margin: 0;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  #root {
  font-size: 0.75rem;
  }

  td, th {
    padding: 8px !important;
  }
}