#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 1280px;
  max-width: 860px;
}

body {
  background: rgb(209,247,255);
  background: radial-gradient(circle, rgba(209,247,255,0.2) 0%, rgba(138,138,208,0.5) 61%, rgba(41,35,142,0.7) 100%);
  overflow: hidden;
}

.people {
  flex-direction: row;
}

.presentInput {
  justify-content: space-evenly;
  width: 100%;
  text-align: left;
  display: flex;
}

.presentsDiv {

}

.presentInput, div {
  margin: 5px;
}

#addButton {
  /* position: absolute; */
  margin: 20px;
}

#back {
  position: absolute;
  bottom: 10%;
  left: 10%;
  
}

#forward {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
